*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #ecf0f3;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    min-width: 100vh;
    font-family: 'Lato', sans-serif;
}

.wrapper{
    background-color: #ecf0f3;
    height: 700px;
    width: 430px;
    padding: 100px 35px 35px 35px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    border-radius: 40px;
    box-shadow: 13px 13px 20px rgba(230, 230, 230, 0.933) , -13px -13px 30px #ffff;
}

.logo{
    box-sizing: border-box;
    background-color: #3f67a9;
    mix-blend-mode: multiply;
    background:url("img/logo.png") center;
    background-size: cover;
    width: 100px;
    height: 100px;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 8px 8px 10px #d6d6d6 , -8px -8px 10px #ffff;
    
}

.title{
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-bottom: 10px;

}
.sub-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 50px;

}

.user{
    width: 100%;
}
.user input{
    width: 100%;
    font-size: 18px;
    padding: 20px 5px 20px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 25px;
    box-shadow: inset 8px 8px 15px #e4e4e4 , inset -8px -8px 8px rgb(255, 255, 255);
}
.pass{
    width: 100%;
}
.pass input{
    width: 100%;
    font-size: 18px;
    padding: 20px 5px 20px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 25px;
    box-shadow: inset 8px 8px 15px #e4e4e4 , inset -8px -8px 8px rgb(255, 255, 255);
}

.btn{
    margin-top: 20px;
    width: 100%;
    font-size: 25px;
    font-weight: 200;
    padding: 13px 5px 13px 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #00d3e2;
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 8px #b1b1b1 ,-5px -5px 5px #ffff;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background-color: #00b5c2;
}

.footer{
    color: #333;
}
.footer a{
    text-decoration:none ;
    color: #555;
    font-size: 15px;
    transition: all 0.5s;
}
.ftr{
    transform:scale(1.2);
}